/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #f1f1f1;
    font-family: Lato, sans-serif;
}

h1 {
  max-width: @siteMaxWidth;
  width:95%;
  margin:1em auto;
  color:@highlight;
  font-size:100px;
  @media (max-width:@mamaBear) {
    font-size:50px;
  }

  @media (max-width:@babyBear) {
    font-size:20px;
  }

}
