.card {
  font-size:100px;
  min-width:(100%/3);
  border:2px solid @blue;
  text-align: center;
  padding-bottom: (100%/3);
  position: relative;
  font-weight: bold;
  cursor:pointer;
  flex-grow: 1;
  color: @blue;
  &:hover {
    color: @lightBlue;
  }

  &__text {
    display:block;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
  }

  &__highlight {
    background-color: @highlight;
    color: @lightBlue;
    &:hover {
      color: @lighterBlue;
    }
  }


}

