.card {
  font-size:100px;
  min-width:(100%/3);
  border:2px solid @blue;
  text-align: center;
  min-height:2px;
  position: relative;
  font-weight: bold;
  cursor:pointer;
  //flex-grow: 1;
  flex: 1 0 auto;
  color: @blue;
  transition: background 0.1s ease-in-out;

  &:after {
    content:'';
    float:left;
    padding-top:100%;
  }

  &:hover {
    color: @lightBlue;
  }

  &__text {
    display:block;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
  }

  &__highlight {
    background-color: @highlight;
    color: @lightBlue;
    &:hover {
      color: @lighterBlue;
    }
  }

  @media (max-width:@mamaBear) {
    min-width:(100%/2);
    padding-bottom: (100%/2);
  }

  @media (max-width:@babyBear) {
    min-width:(100%/1);
    padding-bottom: (100%/1);
  }

}

